backend/gsdservice.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gsdsoftware.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gsdsoftware.com" name="SOAPHandlerService">
<types>
<xsd:schema>
<xsd:import namespace="http://gsdsoftware.com" schemaLocation="https://netframe.intranet.rheingas.de/gsdservice?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="close">
<part name="parameters" element="tns:close"></part>
</message>
<message name="closeResponse">
<part name="parameters" element="tns:closeResponse"></part>
</message>
<message name="openERPframeDB">
<part name="parameters" element="tns:openERPframeDB"></part>
</message>
<message name="openERPframeDBResponse">
<part name="parameters" element="tns:openERPframeDBResponse"></part>
</message>
<message name="openDOCUframeDB">
<part name="parameters" element="tns:openDOCUframeDB"></part>
</message>
<message name="openDOCUframeDBResponse">
<part name="parameters" element="tns:openDOCUframeDBResponse"></part>
</message>
<message name="executeERPframeRequest">
<part name="parameters" element="tns:executeERPframeRequest"></part>
</message>
<message name="executeERPframeRequestResponse">
<part name="parameters" element="tns:executeERPframeRequestResponse"></part>
</message>
<message name="executeDOCUframeRequest">
<part name="parameters" element="tns:executeDOCUframeRequest"></part>
</message>
<message name="executeDOCUframeRequestResponse">
<part name="parameters" element="tns:executeDOCUframeRequestResponse"></part>
</message>
<portType name="SOAPHandler">
<operation name="close">
<input wsam:Action="http://gsdsoftware.com/SOAPHandler/closeRequest" message="tns:close"></input>
<output wsam:Action="http://gsdsoftware.com/SOAPHandler/closeResponse" message="tns:closeResponse"></output>
</operation>
<operation name="openERPframeDB">
<input wsam:Action="http://gsdsoftware.com/SOAPHandler/openERPframeDBRequest" message="tns:openERPframeDB"></input>
<output wsam:Action="http://gsdsoftware.com/SOAPHandler/openERPframeDBResponse" message="tns:openERPframeDBResponse"></output>
</operation>
<operation name="openDOCUframeDB">
<input wsam:Action="http://gsdsoftware.com/SOAPHandler/openDOCUframeDBRequest" message="tns:openDOCUframeDB"></input>
<output wsam:Action="http://gsdsoftware.com/SOAPHandler/openDOCUframeDBResponse" message="tns:openDOCUframeDBResponse"></output>
</operation>
<operation name="executeERPframeRequest">
<input wsam:Action="http://gsdsoftware.com/SOAPHandler/executeERPframeRequestRequest" message="tns:executeERPframeRequest"></input>
<output wsam:Action="http://gsdsoftware.com/SOAPHandler/executeERPframeRequestResponse" message="tns:executeERPframeRequestResponse"></output>
</operation>
<operation name="executeDOCUframeRequest">
<input wsam:Action="http://gsdsoftware.com/SOAPHandler/executeDOCUframeRequestRequest" message="tns:executeDOCUframeRequest"></input>
<output wsam:Action="http://gsdsoftware.com/SOAPHandler/executeDOCUframeRequestResponse" message="tns:executeDOCUframeRequestResponse"></output>
</operation>
</portType>
<binding name="SOAPHandlerPortBinding" type="tns:SOAPHandler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="close">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="openERPframeDB">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="openDOCUframeDB">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="executeERPframeRequest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="executeDOCUframeRequest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SOAPHandlerService">
<port name="SOAPHandlerPort" binding="tns:SOAPHandlerPortBinding">
<soap:address location="https://netframe.intranet.rheingas.de/gsdservice"></soap:address>
</port>
</service>
</definitions>
